In [ ]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import os

In [ ]:
regression_example = \
r'C:\AWSMLCourse\Data\RegressionExamples\BikeTrain\train.csv'

binary_class_example = \
r'C:\AWSMLCourse\Data\ClassExamples\DiabetesData\pima-indians-diabetes.data.txt'

multi_class_example = \
r'C:\AWSMLCourse\Data\ClassExamples\Iris\iris.data.csv'

data_type_example = \
r'C:\AWSMLCourse\Data\ClassExamples\TwitterAWS\aml_training_dataset.csv'

## Labeled Data 
Labeled Data - contains the features and target attribute with correct answer
## Training Set
Part of labeled data that is used for training the model. 60-70% of the labeled data is used for training
## Evaluation Set
30-40% of the labeled data is reserved for checking prediction quality with known correct answer
## Training Example
Training Example or a row. Contains one complete observation of features and the correct answer
## Features
Known by different names: Columns, Features, variables, attributes. These are values that define a particular example. Values for some of the features could be missing or invalid in real-world datasets.  So, some cleaning may have to be done before feeding to Machine Learning  

1. Input Feature - Variables that are provided as input to the model
2. Target Attribute - Variable that model needs to predict

<h2>AWS ML Data Types</h2>
<h5>Data from training set needs to be mapped to one of these data types</h5>
<h4>1. Binary.  Can contain only two state 1/0.</h4>
  <ul>
  <li>Positive Values: 1,y,yes,t,true</li>
  <li>Negative Values: 0,n,no,f,false</li>
  <li>Values are case-insensitive and AWS ML converts the above values to 1 or 0</li>
  </ul>
<h4>2. Categorical.  Qualitative attribute that describes something about an observation.</h4>
<h5>Example</h5>
   <ul>
   <li>Day of the week: Sunday, Monday, Tuesday,...</li>
   <li>Size: XL,L,M,S </li>
   <li>Month: 1,2,3,4,...12</li>
   <li>Season: 1,2,3,4</li>
   </ul>
<h4>3. Numeric. Measurements, Counts are represented as numeric types</h4>
   <ul>
   <li>Discrete: 20 cars, 30 trees, 2 ships</li>
   <li>Continous: 98.7 degree F, 32.5 KMPH, 2.6 liters </li>   
   </ul>
<h4>4. Text.  String of words. AWS ML automatically tokenizes at white space boundary</h4>
<h5>Example</h5>
   <ul>
   <li>product description, comment, reviews</li>
   <li>Tokenized: 'Wildlife Photography for beginners' => {‘Wildlife’, ‘Photography’, ‘for’, ‘beginners’}</li>   
   </ul>

<h1>Algorithms</h1>
<h2>Linear Regression</h2>
Predict a numeric value as output based on given features
<p>Examples: 
What is the market value of a car? 
What is the current value of a House?
For a product, how many units can we sell?</p>

<h5>Concrete Example</h5>
Kaggle Bike Rentals - Predict number of bike rentals every hour.  Total should include both casual
    rentals and registered users rentals

Input Columns/Features = ['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
                          'atemp', 'humidity', 'windspeed']

Output Column/Target Attribute = 'count'<br>
count = casual + registered <br>
Option 1: Predict casual and registered counts separately and then sum it up <br>
Option 2: Predict count directly

In [11]:
# read the bike train csv file
df = pd.read_csv(regression_example)

In [12]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [13]:
df.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000

In [14]:
df['count'].describe()

count    10886.000000
mean       191.574132
std        181.144454
min          1.000000
25%         42.000000
50%        145.000000
75%        284.000000
max        977.000000
Name: count, dtype: float64

In [15]:
df.season.value_counts()

4    2734
3    2733
2    2733
1    2686
Name: season, dtype: int64

In [16]:
df.holiday.value_counts()

0    10575
1      311
Name: holiday, dtype: int64

In [17]:
df.workingday.value_counts()

1    7412
0    3474
Name: workingday, dtype: int64

In [18]:
df.weather.value_counts()

1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64

In [19]:
df.temp.describe()

count    10886.00000
mean        20.23086
std          7.79159
min          0.82000
25%         13.94000
50%         20.50000
75%         26.24000
max         41.00000
Name: temp, dtype: float64

<h2>Binary Classification</h2>
Predict a binary class as output based on given features

<p>Examples: Do we need to follow up on a customer review?
Is this transaction fraudulent or valid one?
Are there signs of onset of a medical condition or disease?
Is this considered junk food or not?
</p>


<h5>Concrete Example</h5>
pima-indians-diabetes - Predict if a given patient has a risk of getting diabetes<br>
https://archive.ics.uci.edu/ml/datasets/Pima+Indians+Diabetes

Input Columns/Features = ['preg_count', 'glucose_concentration', 'diastolic_bp',
       'triceps_skin_fold_thickness', 'two_hr_serum_insulin', 'bmi',
       'diabetes_pedi', 'age']

Output Column/Target Attribute = 'diabetes_class'.  1 = diabetic, 0 = normal

In [20]:
df = pd.read_csv(binary_class_example)

In [21]:
df.head()

,preg_count,glucose_concentration,diastolic_bp,triceps_skin_fold_thickness,two_hr_serum_insulin,bmi,diabetes_pedi,age,diabetes_class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.columns

In [22]:
df.corr()

,preg_count,glucose_concentration,diastolic_bp,triceps_skin_fold_thickness,two_hr_serum_insulin,bmi,diabetes_pedi,age,diabetes_class
preg_count,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
glucose_concentration,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
diastolic_bp,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
triceps_skin_fold_thickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
two_hr_serum_insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
bmi,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
diabetes_pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
diabetes_class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [23]:
df.age.value_counts().head()

22    72
21    63
25    48
24    46
23    38
Name: age, dtype: int64

In [24]:
df.diabetes_class.value_counts()

0    500
1    268
Name: diabetes_class, dtype: int64

<h2>Multiclass Classification</h2>
Predict a class as output based on given features

Examples:
    1. How healthy is the food based on given ingredients?
    Classes: Healthy, Moderate, Occasional, Avoid.
    
    2. Identify type of mushroom based on features
    
    3. What type of advertisement can be placed for this search?

<h5>Concrete Example</h5>
Iris Classification - Predict the type of Iris plant based on flower measurments<br>
https://archive.ics.uci.edu/ml/datasets/Iris

Input Columns/Features = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

Output Column/Target Attribute = 'class'.  

Class: Iris-setosa,Iris-virginica,Iris-versicolor

In [25]:
df = pd.read_csv(multi_class_example)

In [26]:
np.random.seed(5)
# print 10 random rows
df.ix[np.random.randint(0,df.shape[0],10)]

     sepal_length  sepal_width  petal_length  petal_width            class
99            5.7          2.8           4.1          1.3  Iris-versicolor
118           7.7          2.6           6.9          2.3   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
73            6.1          2.8           4.7          1.2  Iris-versicolor
8             4.4          2.9           1.4          0.2      Iris-setosa
112           6.8          3.0           5.5          2.1   Iris-virginica
7             5.0          3.4           1.5          0.2      Iris-setosa
143           6.8          3.2           5.9          2.3   Iris-virginica
113           5.7          2.5           5.0          2.0   Iris-virginica
80            5.5          2.4           3.8          1.1  Iris-versicolor

In [ ]:
df.columns

In [27]:
df['class'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: class, dtype: int64

In [ ]:
df.sepal_length.describe()

# Data Types

In [ ]:
df = pd.read_csv(data_type_example)

In [ ]:
df.columns

In [ ]:
df[['description','favourites_count','favorited','text', 'screen_name','trainingLabel']].head()